body {
	background-color: #7C269C;
}

p {
	color: black;
}

h1 {
	font-family: 'New Times Roman';
	text-align: center;
}

#mainContent {
	margin-left: 150px;
}

#navBar {
	background-color: #0B3861;
	padding-top: 75px;
	padding-right: 15px;
	margin-left: -15px;
	position: fixed;
	height: 100%;
	top:0;
	left:0;
}

#navBar ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
}

#navBar ul li a:hover {
	background-color: #fff;
	color: #000;
}

#navBar ul {
	list-style-type: none;
	margin-left: 0px;
}

#navBar ul li a:hover {
	background-color: #fff;
	color: #000;
}

#navBar ul {
	list-style-type: none;
	margin-left: -10px;
}

.Face {
	
	
}
h2 {
	padding-left: 500;
	margin-top: -500;
	
}